.row
  %h2 Question Details

.row
  .col-md-6
    %table.table
      %tr
        %th Quiz ID
        %td= @quiz.id
      %tr
        %th Content
        %td= @question.content

.row
  = link_to "See Answers", quiz_question_answers_path(@quiz, @question), class: "btn btn-default"
