.row
  %h2 Quiz Details

.row
  .col-md-6
    %table.table
      %tr
        %th Name
        %td= @quiz.name

      %tr
        %th Author
        %td= @quiz.author

.row
  = link_to "See Questions", quiz_questions_path(@quiz), class: "btn btn-default"
