- content_for :title do
  QuizVids

.jumbotron
  .container
    %h1 QuizVids

    = link_to "Get started!", setup_path, class: "btn btn-large btn-primary"
    = link_to "Sign up!", signup_path, class: "btn btn-large btn-primary"
