- content_for :title, "QuizVids || Quiz Time!"

- content_for :scripts do

  :javascript
    var quizzes = #{@selected_quizzes.to_json};
    var interval = parseInt(#{@interval.to_json});
    var playlist = #{@playlist.to_json};
    $.holdReady(true)

  :coffeescript
    $ ->
      window.quizModel = new QuizVids.Models.Quiz(interval: interval, quizzes: quizzes, playlist: playlist)
      quizModel.fetch
        data:
          quiz_ids: quizzes
        success: ->
          window.quizView = new QuizVids.Views.Quiz(el: $(".container"), model: quizModel).render


.row.player
  #ytplayer

= render partial: "quiz_modal"
