- content_for :title, "QuizVids || Sign In"
%h1 Sign in

.row
  .col-sm-6.col-sm-offset-3
    = form_for(:session, url: sessions_path) do |form|
      = render partial: "form", locals: { form: form }
      = form.submit "Sign In", class: "btn btn-large btn-primary"

.row
  %p
    New User?
    = link_to "Sign Up Now!", signup_path
