// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-result {
  margin: 10px 0px;
}

#playlist ul {
  list-style: none;
  li {
    a.close {
      float: none;
      margin-right: 5px;
    }
  }
}


